





@*@model Employee*@
@{
	ViewData["Title"] = "Update";
	var Departments = new SelectList(ViewBag.Departments, "Id", "Name");
	//enctype ="multipart/form-data"
}
<div>
	<form asp-action="Update" asp-controller="Employee" enctype="multipart/form-data">
		<partial name="PartialViews/CreateUpdatePartialView"/>
		<br />
		<input type="submit" value="Add" class="btn btn-primary" />
		<a asp-action="Index" class="btn btn-light">Back To List</a>
	</form>
</div>

@section Scripts{
			<partial name ="_ValidationScriptsPartial"/>

		}